/* ESTILOS BÁSICOS */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-fit-content {
    width: fit-content !important;
}

.primary-btn {
    background-color: #2089FF;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 24px;
    border: none;
    padding: 10px 20px;
    letter-spacing: 2.4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.primary-btn:hover {
    background-color: #0056b3;
}

.secondary-btn {
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 24px;
    border: none;
    padding: 10px 20px;
    letter-spacing: 2.4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.secondary-btn:hover {
    background-color: #454545;
}

.terciary-btn {
    background-color: #FFFFFF;
    color: #000000;
    text-transform: uppercase;
    border-radius: 24px;
    border: 1px solid #000000;
    padding: 10px 20px;
    letter-spacing: 2.4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.terciary-btn:hover {
    background-color: #E4E4E4;
}

label {
    font-weight: bold;
}

input {
    border: 1px solid #C2C2C2;
}

.asterisk {
    color: red;
}

.text-color-dark {
    color: #242688;
}

.text-color-skyblue {
    color: #2089FF;
}

.text-color-gray {
    color: #B4B4B4;
}

.background-color-gray {
    background-color: #F9F9F9;
}

.card-info_icon {
    font-size: 32px !important;
}

/* HEADER PUBLICIDAD */

.main-header__carousel,
.main-header__item-slider {
    width: 100%;
    height: 32px;
}

.main-header__carousel {
    overflow: hidden;
    background-color: #2089FF;
}

.main-header__item-slider {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

@keyframes slide {
    0% {
        bottom: 0;
    }

    24% {
        bottom: 0;
    }

    25% {
        bottom: 100%;
    }

    49% {
        bottom: 100%;
    }

    50% {
        bottom: 200%;
    }

    74% {
        bottom: 200%;
    }

    75% {
        bottom: 300%;
    }

    99% {
        bottom: 300%;
    }

    100% {
        bottom: 0;
    }
}

.main-header__slider {
    position: relative;
    bottom: 0;
    animation: slide 12s infinite;
}

.main-header__slider:hover {
    animation-play-state: paused;
}

/* HEADER NAVEGACIÓN */

.main-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background-color: #FFFFFF;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.main-header_logo {
    height: 100%;
    width: 120px;
    cursor: pointer;
}

.main-header_logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.main-header_logo:hover img {
    transform: scale(1.1);
}

.main-header__item {
    align-content: center;
    text-align: center;
}

.main-header__item a {
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 24px;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    background-color: black;
    color: white;
}

.menu-tablet-mobile {
    display: none;
}

/* FOOTER */

.footer {
    border-top: 1px solid #757575;
    width: 100%;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    color: #006BB4;
    text-decoration: underline;
}

.footer-links {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 40px 0;
}

.footer-links_columnas {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links_redes {
    display: flex;
    gap: 16px;
}

.footer-copyright {
    display: flex;
    background-color: #757575;
    color: white;
    font-size: 10px;
    justify-content: space-between;
    padding: 0 24px;
}

.footer-copyright_links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}




/* CARDS COMPRA */

.cards-info-shop {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.card-info {
    border-radius: 24px;
    padding: 40px;
    flex: 1;
    max-width: 320px;
}

.card-info_a:hover {
    color: #006BB4;
    text-decoration: underline;
}

/* ESTILOS TABLET */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* HEADER NAVIGATION TABLET */
    .category-menu {
        display: none;
    }

    .menu-tablet-mobile {
        display: flex;
    }
}

/* ESTILOS MOBILE */

@media screen and (max-width: 767px) {

    /* HEADER PUBLICIDAD MOBILE */
    .main-header__slider {
        font-size: 12px;
    }

    /* HEADER NAVIGATION MOBILE */
    .main-header__nav {
        padding: 0;
    }

    .main-header__item-list {
        gap: 8px;
    }

    .category-menu {
        display: none;
    }

    .menu-tablet-mobile {
        display: flex;
    }

    /* FOOTER MOBILE */

    .footer-links {
        flex-direction: column;
        gap: 16px;
        padding: 0;
        align-items: center;
        padding-bottom: 24px;
    }

    .footer-links_columnas {
        align-items: center;
    }

    .footer-copyright {
        flex-direction: column-reverse;
        padding: 8px 24px;
        align-items: center;
    }

    /* CARDS COMPRA MOBILE */
    .cards-info-shop {
        flex-direction: column;
        align-items: center;
    }

}

