/* ESTILOS BÁSICOS */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-fit-content {
    width: fit-content !important;
}

.primary-btn {
    background-color: #2089FF;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 24px;
    border: none;
    padding: 10px 20px;
    letter-spacing: 2.4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.primary-btn:hover {
    background-color: #0056b3;
}

.secondary-btn {
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 24px;
    border: none;
    padding: 10px 20px;
    letter-spacing: 2.4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.secondary-btn:hover {
    background-color: #454545;
}

.terciary-btn {
    background-color: #FFFFFF;
    color: #000000;
    text-transform: uppercase;
    border-radius: 24px;
    border: 1px solid #000000;
    padding: 10px 20px;
    letter-spacing: 2.4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.terciary-btn:hover {
    background-color: #E4E4E4;
}

label {
    font-weight: bold;
}

input {
    border: 1px solid #C2C2C2;
}

.asterisk {
    color: red;
}

.text-color-dark {
    color: #242688;
}

.text-color-skyblue {
    color: #2089FF;
}

.text-color-gray {
    color: #B4B4B4;
}

.background-color-gray {
    background-color: #F9F9F9;
}

.card-info_icon {
    font-size: 32px !important;
}

/* HEADER PUBLICIDAD */

.main-header__carousel,
.main-header__item-slider {
    width: 100%;
    height: 32px;
}

.main-header__carousel {
    overflow: hidden;
    background-color: #2089FF;
}

.main-header__item-slider {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

@keyframes slide {
    0% {
        bottom: 0;
    }

    24% {
        bottom: 0;
    }

    25% {
        bottom: 100%;
    }

    49% {
        bottom: 100%;
    }

    50% {
        bottom: 200%;
    }

    74% {
        bottom: 200%;
    }

    75% {
        bottom: 300%;
    }

    99% {
        bottom: 300%;
    }

    100% {
        bottom: 0;
    }
}

.main-header__slider {
    position: relative;
    bottom: 0;
    animation: slide 12s infinite;
}

.main-header__slider:hover {
    animation-play-state: paused;
}

/* CARDS COMPRA */

.cards-info-shop {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.card-info {
    border-radius: 24px;
    padding: 40px;
    flex: 1;
    max-width: 320px;
}

.card-info_a:hover {
    color: #006BB4;
    text-decoration: underline;
}

/* ESTILOS TABLET */

@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* ESTILOS MOBILE */

@media screen and (max-width: 767px) {

    /* CARDS COMPRA MOBILE */
    .cards-info-shop {
        flex-direction: column;
        align-items: center;
    }
}

.selected-products h2{
    text-align: center;
}
.product-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 1rem;
    /* Espaciado superior */
    gap: 1rem;
    /* Espacio entre los elementos, ajusta el valor según necesites */
  }

.product-item {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 20rem;
    max-width: 95%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    align-items: center; */
    width: 18rem;
    max-width: 95%;
    border: 1px solid #e4e4e4;
    box-shadow: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 10px 5px 10px;
}
.card__image {
    width: 100%;
  }
  .product__title {
    font-size: 1.2rem;
    text-align: center;
    color: #1f1f1f;
}
.product__price {
    text-align: center;
    color: #2089ff;
    margin-bottom: 0.5rem;
}
