body {
    height: 100vh;
    margin: 0;
}

.full-width {
    width: 100%;
}

input, select {
    padding: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* CHECKOUT */

.checkout {
    border-top: 1px solid #B4B4B4;
    display: flex;
    justify-content: flex-end;
}

.checkout-form {
    width: 600px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.checkout-detail {
    width: 40%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.checkout-form_fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkout-form_title {
    margin: 0 0 8px 0;
}

.checkout-form_field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkout-form_half-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.checkout-form_double-field {
    display: flex;
    gap: 16px;
}

.checkout-detail section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkout-detail_product {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.checkout-detail_product p:nth-child(2) {
    flex-grow: 1;
}

.checkout-subprice, .checkout-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-detail_product p:nth-child(3) {
    white-space: nowrap;
}

.checkout-detail_product_image {
    width: 60px;
    height: 60px;
    position: relative;
}

.checkout-detail_product_image img {
    height: 100%;
}

.checkout-detail_product_image span {
    position: absolute;
    background: #454545;
    padding: 2px 8px;
    border-radius: 50px;
    right: 294px;
    color: #FFFFFF;
    right: -12px;
    top: -9px;
}

.checkout-subprice p {
    margin: 0;
}

.checkout-price {
    font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* CHECKOUT TABLET */

    
}

/* ESTILOS MOBILE */

@media screen and (max-width: 767px) {

    /* CHECKOUT MOBILE */

    .checkout {
        flex-direction: column-reverse;
    }

    .checkout-form {
        width: auto;
    }

    .checkout-detail {
        width: auto;
    }

}