/* LISTA PRODUCTOS */

.lista-productos-main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;
}

.selected-products h2 {
    text-align: center;
}

.product-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 1rem;
    /* Espaciado superior */
    gap: 1rem;
    /* Espacio entre los elementos, ajusta el valor según necesites */
}

.product-item {
    width: 18rem;
    max-width: 95%;
    border: 1px solid #e4e4e4;
    box-shadow: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 5px 10px;
}

.card__image {
    width: 100%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
    color: #1f1f1f;
}

.product__price {
    text-align: center;
    color: #2089ff;
    margin-bottom: 0.5rem;
}

/* CARRUSEL HOME 1 */

.carousel-wrapper {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    animation: slideh1 16s infinite;
}

.carousel-wrapper:hover {
    animation-play-state: paused;
}

.carousel-slide {
    width: 100%;
    flex-shrink: 0;
    justify-content: center;
}

.slide-img {
    width: 100%;
}

.carousel {
    overflow: hidden;
}

@keyframes slideh1 {
    0% { right: 0; }
    33% { right: 100%;}
    66% { right: 200%;}
    100% { right: 0;}
}